*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black ;
    color: white !important;

}

.main{
    display: grid;
    grid-template-areas: 'texto foto';
    grid-template-columns: 50% 40%;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.texto{
    grid-area: texto;
    padding: 0 3rem 0 5rem;
}

h1{
    font-size: 4rem;
    font-weight: 900;
    line-height: 80px;
}

h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

p{
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 2rem;
    line-height: 24px;
}

.contacto{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 28rem;
}

.btn-git, .btn-insta, .btn-mail{
    background-color: white;
}

.btn{
    font-size: 1.1rem;
    font-weight: 300;
    color : black;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    
}

.foto{
    grid-area: foto;
/*     padding: 0 1rem 0 3rem;
 */
    display: flex;
    justify-content: end;
    margin-right: 4rem;
}

img{
    width: 300px;
    height: 480px;
    border-radius: 0.5rem;
   
}
/* --------------------1110--------------------------- */
@media ( max-width: 1110px){
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 3rem 6rem 0 6rem ;
    }
    .texto{
        
        margin: 0 3rem 0 3rem ;
        padding: 0;
        width: 40rem;
    }
}
/* --------------------680--------------------------- */

@media (max-width: 680px){
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 3rem 6rem 0 6rem ;
    }
    .texto{
        
        padding: 0 10rem 0 10rem ;
        width: 40rem;
    }
    h1{
        font-size: 2rem;
        line-height: 40px;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
    .contacto{
        margin-top: 2rem;
        display:flex;
        justify-content:stretch;
        align-items: center;
    }
    .btn{
        font-size: .8rem;
        font-weight: 300;
        color : black;
        padding: 1rem 1rem;
        text-decoration: none;
        border-radius: 0.5rem;
        height: 50px;
        margin: 0 2px;
    }
    img{
        margin:0 3rem 0 7rem;
        width: 300px;
        height: 480px;
        border-radius: 0.5rem;
    }
    
}